{{#if resume.work.length}}
	<section id="work">
		<h2><strong>Work Experience</strong></h2>
		{{#each resume.work}}
		<div class="item">
			<dl>
				<dt>Dates:</dt>
					<dd>{{startDate}}-{{endDate}}</dd>
				<dt>Position:</dt>
					<dd><h3>{{position}}</h3></dd>
				<dt>Employer:</dt>
					<dd><h3>{{company}}</h3></dd>
				<dt>Main activities:</dt>
					<dd><ul>
						{{#each highlights}}
							<li>{{.}}</li>
						{{/each}}
					</ul></dd>
			</dl>
		</div>
		{{/each}}
	</section>
{{/if}}